<app-header></app-header>

<section class="shopping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="shopping__cart__table">
          <table>
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody
              class="app-product-list"
              (newItemEvent)="putTheValue($event)"
            ></tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="continue__btn">
              <a href="/shop">Continue Shopping</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <app-cart-total [cartTotal]="cartTotal"></app-cart-total>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
