<app-header></app-header>

<app-breadcrumb></app-breadcrumb>

<section class="shop spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <app-shop-according
          (filterByPriceEvent)="filterByPriceParent($event)"
          (filterBySizeEvent)="filterBySizeParent($event)"
          (filterColorEvent)="filterByColorParent($event)"
        >
        </app-shop-according>
      </div>
      <div class="col-lg-9">
        <app-product-option></app-product-option>
        <app-shop-products
          class="row"
          [loadedProducts]="loadedProducts"
          [idsInFavoriteList]="idsInFavoriteList"
        ></app-shop-products>
        <div class="row">
          <div class="col-lg-12">
            <app-product-pagination></app-product-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
